div.doc-struct table{
    border:none;
    border-collapse:collapse;
}
div.doc-struct th {
    white-space:normal;
    background-color:#eeeeee;
    padding:7px 5px;
    width:75px;
    border:1px solid silver;
    border-collapse:collapse;
    vertical-align:top;
}
div.doc-struct td {
    word-wrap: break-word;
    background-color:#ffffff;
    padding:7px 5px;
    border:1px solid silver;
    border-collapse:collapse;
}
div.doc-struct td.hashlist {
    max-width:500px;
    word-wrap: break-word; 
    overflow:auto;
}
div.doc-struct ul {
    padding-left:20px;
    margin:0px;
    list-style-type: circle;
}
hr {
    border:none;
    border-top:1px solid silver;
    margin: 0px 0px 12px 0px;
}
h1 {
    color: #3399cc;
    display: inline-block;
    margin: 12px 100px 12px 0px;
}
a{
    color: #3d81ee;
    text-decoration:none;
}
a:hover {
    color: red;
    text-decoration:underline;
}