div.doc-struct table{
    border:none;
    border-collapse:collapse;
}
div.doc-struct th {
    white-space:normal;
    background-color:#eeeeee;
    padding:7px 5px;
    width:75px;
    border:1px solid silver;
    border-collapse:collapse;
    vertical-align:top;
}
div.doc-struct td {
    word-wrap: break-word;
    background-color:#ffffff;
    padding:7px 5px;
    border:1px solid silver;
    border-collapse:collapse;
}
div.doc-struct td.hashlist {
    max-width:500px;
    word-wrap: break-word; 
    overflow:auto;
}
div.doc-struct ul {
    padding-left:20px;
    margin:0px;
    list-style-type: circle;
}